@{
    ViewData["Title"] = "Είσοδος";
}

@model MagicBus.Models.LoginViewModel

<link rel="stylesheet" type="text/css" href="~/css/login.css" />


<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" method="post">
            <span id="reauth-email" class="reauth-email"></span>
            <input id="inputEmail" name="Username" class="form-control" placeholder="E-mail" required autofocus />
            <input type="password" id="inputPassword" name="Password" class="form-control" placeholder="Κωδικός Πρόσβασης" required />
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Θυμήσου με!
                </label>
            </div>
            <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="Είσοδος" />
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Ξέχασα τον κωδικό μου :(
        </a>
        <button href="#" class="btn btn-block btn-danger" value="Δεν έχω λογαριασμό :(">
        </button>
    </div><!-- /card-container -->
</div><!-- /container -->