/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,.5)), url('https://c1.staticflickr.com/4/3904/15022568232_790442b2b2_b.jpg') no-repeat;
    background-size: cover;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    /* Hide captions */
    .mb_form {
        width: 50%;
        margin: 0 auto;
    }
}

h1 {
    color: white;
}

.main_h2{
    color: white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.mb_form {
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 10px;
}

.btn-primary{
    background-color:green;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: forestgreen;
    border-color: #122b40;

}
.btn-primary:hover,
.btn-primary.hover {
    color: #fff;
    background-color: forestgreen;
    border-color: #122b40;

}